#deletePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}
#deletePage>p {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 4em;
    text-align: center;
    color: #402022;
    padding-bottom: 15px;
}
.pwBoxs {
    padding: 20px;
    display: flex;
    align-items: center;
}
label {
    width: 320px;
    color: #402022;
    font-size: 40px;
    font-family: 'Nanum Gothic', sans-serif;
    display: inline-block;
}
input {
    width: 500px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
#line {
    border: 1px solid #ccc;
    width: 900px;
}
#buttons {
    padding-top: 30px;
    display: flex;
    padding-bottom: 100px;
    display : flex;
    justify-content: space-evenly;
}
button {
    width: 300px;
    height: 80px;
    margin: 10px;
    border-radius: 50px;
    font-size: 30px;
    font-family: 'Nanum Gothic', sans-serif;
    border: 0px;
    font-weight: lighter;
    color: white;
    background-color: #F04DA3;
    cursor: pointer !important;
}
#back {
    background-color: #402022;
}
input::placeholder {
    font-size: 20px;
}