#Board{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#titleBox{
    width: 90%;
    height: 60px;
    border: 3px solid #CCC;
    border-radius: 15px;
    margin-bottom: 30px;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    
}
#contentBox{
    width: 90%;
    height: 350px;
    border: 3px solid #CCC;
    border-radius: 15px;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}
