#container {
    width: 100%;
    /* max-width: 1200px; */
    min-width: 1200px;
    margin: 0 auto;
    /* display: flex; */
}
#contentBox{
    max-width: 1000px;
}

header {
    position: relative;
}

a {
    text-decoration: none;
    color: inherit;
}

/* a:visited {
    color: #000;
} */
.whiteFont:visited {
    color: rgb(255, 255, 255);
}

#logo {
    width: 100%;
    height: 240px;
    background-color: white;
    margin-bottom: 0;
    float: left;
    position: relative;
}

#logoimg {
	max-width:1200px;
    padding: 50px;
    display: block;
    margin: auto;
    width: 80%;
}

#user-category {
	position: absolute;
	width: 300px;
	top: 200px;
    right: 10px;
    display: flex;
/*     justify-content: space-around; */
    justify-content: flex-end;
    align-items: flex-start;
    font-size: 23px;
    font-family: 'Nanum Gothic', sans-serif;
}

.user {
	margin: 5px;
}

#basketlink {
	position: relative;
	bottom: 30px;
    width: 70px;
    height: 65px;
}

#menu {
    width: 100%;
    height: 80px;
    background-color: rgb(255, 255, 255);
    margin-top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Nanum Gothic', sans-serif;
    border-top: 3px solid #F5DB64;
    border-bottom: 3px solid #F5DB64;
}

#menu li {
    display: inline;
    list-style: none;
    float: left;
    font-size: 25px;
}


footer {
    width: 100%;
    height: 200px;
    /* background-color: rgb(255, 220, 234); */
    background:rgb(243, 233, 233);
    padding-left: 30px;
    align-items: flex-end;
    font-family: 'Nanum Gothic', sans-serif;
}
.footers {
    align-items: flex-end;
}
#bottomMenu1 {
    padding-bottom: 8px;
}
#bottomMenu1 li {
    display: inline;
    list-style: none; 
    font-size: 23px; 
    padding: 4px;
    }
#bottomMenu2 li {
    /* display: inline; */
    list-style: none; 
    font-size: 18px; 
    }