#compliteBox {
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#complite {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 30px;
    text-align: center;
    color: #402022;
    margin-top: 150px;
    margin-bottom: 200px;

}
button {
    width: 300px;
    height: 80px;
    margin: 10px;
    border-radius: 50px;
    font-size: 25px;
    font-family: 'Nanum Gothic', sans-serif;
    border: 0px;
    font-weight: lighter;
    color: white;
    background-color: #F04DA3;
    margin-bottom: 100px;
}
#button{
    display: flex;
    justify-content : space-evenly;
    width: 80%;
	
}
